/* Light icons over dark background */
@fontFamily: Open Sans, Arial, Helvetica, sans-serif;

@linkColor: #6b2c91;

@linkHoverColor: #6b2c91;

@linkActiveColor: #6b2c91;

@mainColor: #6b2c91;

@playbackBarBackground: linear-gradient(to bottom, #6b2c91 0%,#6b2c91 100%);

@playbackBarBackgroundInactive: #333333;

@hoverBackgroundColor: #6b2c91;

@backgroundColor: rgba(0, 0, 0, 0.78);

@pageBackgroundColor: #00000000;

@shadowColor: #6b2c91;

@paella_icons_image: url(../images/paella_icons_light.png);

@paella_icons_color: white;

@paella_icons_bkg_size: 2000% 1000%;

@backgroundImage: none;

@backgroundImageSize: auto;

@icon_text_color: rgb(21, 21, 21);

@popup_text_color: white;

@playbackBarButtonHeightPx: 40;

@playbackBarButtonWidthPx: 40;

@paellaIconsFontSizePx: 18px;

@paellaIconsPaddingLeftPx: 5px;

@paellaIconsLineHeightPx: 30px;

@playbackBarButtonPadding: 5px;

@playbackControlHeightPx: 12;

@playbackBarFontSize: 10px;

.play-button-on-screen .play-icon {
    width: 200px !important;
    height: 200px !important;
    background-image: url(../images/play.svg);
}

@media screen and (max-width: 1000px) {
    .play-button-on-screen .play-icon {
        width: 200px !important;
        height: 200px !important;
    }
}

@media screen and (max-width: 700px) {
    .play-button-on-screen .play-icon {
        width: 100px !important;
        height: 100px !important;
    }
}

@media screen and (max-width: 400px) {
    .play-button-on-screen .play-icon {
        width: 50px !important;
        height: 50px !important;
    }
}

.buttonPlugin:focus {
    background-color: #6b2c91;
    border: 1px solid #ffffff;
    }